<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="https://www.springframework.org/schema/context"
	xmlns:p="https://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
        
        
        <bean name="address" class="com.excel.springcore.autowired.Address">
			<property name="place" value="Bengaluru"></property>
		</bean>
		
		<!--Here by name is we create object of address in employee it will internally goes where the 
		same name is presenrt -->
		  <bean name="employee" class="com.excel.springcore.autowired.Employee" autowire="byName">
			
		</bean>
        
</beans>